/target
.classpath
.project
/.settings
/bin
dependency-reduced-pom.xml
.sonar-ide.properties
atlassian-ide-plugin.xml
.idea
build
key.gpg
.gradle
/.nb-gradle/
/src/bin
/src/main/bin
/src/main/java/bin
/src/test/java/bin
/craftconomy3.iml
