#
# This file is part of Craftconomy3.
#
# Copyright (c) 2011-2016, Greatman <http://github.com/greatman/>
#
# Craftconomy3 is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Craftconomy3 is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with Craftconomy3.  If not, see <http://www.gnu.org/licenses/>.
#

System:
  Setup: true

  QuickSetup:
    Enable: false
    Currency:
      Name: Dollar
      NamePlural: Dollars
      Minor: Coin
      MinorPlural: Coins
      Sign: $
    StartBalance: 100.0
    PriceBank: 200.0
    #Available values: Long, small, majoronly, sign
    DisplayMode: long

  CheckNewVersion: true
  Case-sentitive: false
  CreateOnLogin: false

  # Logs all monetary transactions passed through CraftConomy in a table.
  Logging:
    Enabled: false
    
  Database:
    # Databases Supported:
    ##
    # mysql
    #  - These will attempt to connect to MySQL
    ##
    # h2
    #  - These will attempt to create & connect to H2
    Type: 'h2'
    
    #Modify if using MySQL
    Address: 'localhost'
    Port: 3306
    Username: 'root'
    Password: ''
    Db: 'Craftconomy'
    Prefix: 'cc3_'

    #Used when you come from H2 and want a MySQL database
    ConvertFromSQLite: false

    #the database revision
    dbVersion: 0
